body, html {
    height: 100%;
    font-size: 10px;
}

body {
    background-color: #fff;
    font-family: $primary-font;
    font-size: 1.6rem;
    color: #333333;
    margin: 0;
    padding: 0;
    min-width: 32rem;
}

.container {
    max-width: 940px;
    margin: 0 auto;
    box-sizing: border-box;
}