$primary-dark-color: #333333;
$primary-font: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
$secodary-light-font: "Open Sans Light", Arial, "Helvetica Neue", Helvetica, sans-serif;